{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a New Candidate Committee Linkage  {% endblock %}</h1>


<form method="post">
	<div class="form-group">
		<label for="cmte_id">Committee ID</label>
		<select name="cmte_id" class="form-control">
			{% for committee in committees_ids %}
				<option value="{{ committee.cmte_id }}">{{ committee.cmte_id }} - {{ committee.cmte_nm }}</option>
			{% endfor %}
		</select>
	</div>	
	<div class="form-group">
        <label for="cmte_tp">Committee Type</label>
        <input type="text" name="cmte_tp" placeholder="Committee Type" class="form-control">
    </div>
	<div class="form-group">
		<label for="cmte_dsgn">Committee Designation</label>
		<input type="text" name="cmte_dsgn" placeholder="Committee Designation" class="form-control">
	</div>
	<div class="form-group">
        <label for="cand_id">Candidate ID</label>
		<select name="cand_id" class="form-control">
			{% for candidate in candidate_ids %}
				<option value="{{ candidate.id }}">{{ candidate.id }} - {{ candidate.name }}</option>
			{% endfor %}
		</select>
	</div>	
    <div class="form-group">
        <label for="cand_election_yr">Candidate Election Year</label>
        <input type="text" name="cand_election_yr" placeholder="Candidate Election Year" class="form-control" >
    </div>
    <div class="form-group">
        <label for="fec_election_yr">FEC Election Year</label>
        <input type="text" name="fec_election_yr" placeholder="FEC Election Year" class="form-control" >
    </div>
	

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<!--
<form method="post">
	<div class="form-group">
		<label for="cmte_id">Committee ID</label>
		<select name="cmte_id" class="form-control">
			{% for committee in committees_ids %}
				<option value="{{ committee.cmte_id }}">{{ committee.cmte_id }} - {{ committee.cmte_nm }}</option>
			{% endfor %}
		</select>
	</div>	
	<div class="form-group">
        <label for="cmte_tp">Committee Type</label>
        <input type="text" name="cmte_tp" placeholder="Committee Type" class="form-control" value="P">
    </div>
	<div class="form-group">
		<label for="cmte_dsgn">Committee Designation</label>
		<input type="text" name="cmte_dsgn" placeholder="Committee Designation" class="form-control" value="D">
	</div>
	<div class="form-group">
        <label for="cand_id">Candidate ID</label>
		<select name="cand_id" class="form-control">
			{% for candidate in candidate_ids %}
				<option value="{{ candidate.id }}">{{ candidate.id }} - {{ candidate.name }}</option>
			{% endfor %}
		</select>
	</div>	
    <div class="form-group">
        <label for="cand_election_yr">Candidate Election Year</label>
        <input type="text" name="cand_election_yr" placeholder="Candidate Election Year" class="form-control" value="2022">
    </div>
    <div class="form-group">
        <label for="fec_election_yr">FEC Election Year</label>
        <input type="text" name="fec_election_yr" placeholder="FEC Election Year" class="form-control" value="2022">
    </div>
	

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form> -->
{% endblock %}
